<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
  <add key = "CHANDsPAPER" value="Data Source=LAPTOP-VT657LCV\SQLEXPRESS;Initial Catalog=CHANDsPAPER;Integrated Security=True"/>
  <!--<add key = "CHANDsPAPER" value="workstation id=ChandsPaperDB.mssql.somee.com;packet size=4096;user id=RevanaHiremath_SQLLogin_1;pwd=zspwxjtv1a;data source=ChandsPaperDB.mssql.somee.com;persist security info=False;initial catalog=ChandsPaperDB"/>-->

    
    <add key = "FromAddress" value="CHAND's PAPER"/>
    <add key = "DefaultIPHostUserName" value="revanasiddaiah22@gmail.com"/>
    <add key = "DefaultIPHost" value="smtp.gmail.com"/>
    <add key = "DefaultIPPort" value="587"/>
    <add key = "DefaultIPHostPassword" value="revanasiddaiah026@gmail.com"/>
    <add key = "DefaultEnableSSL" value="true"/>
    <add key = "Sandbox" value="true"/>
  </appSettings>

  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength ="1000000000" />
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>
